<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__top">
        <a class="header__logo logo"href="#">
        <img class="logo__img" src="img/logo.png" alt="logo">
      </a>
      <div class="header__content">
        <div class="header__info">
          <p class="header__date">
            <span class="header__title">Когда</span>22 ноября, 19:00
          </p>
          <p class="header__phone">
            <span class="header__title">Телефон</span><a class="header__phone-link" href="tel:+380932569658">+38 (093) 256-96-58</a> 
          </p>
        </div>
        <a class="header__btn" href=#reservation>
          Принять участие
        </a>
      </div>
      </div>
      <div id="reservation" class="header__reservation reservation">
          <div class="reservation__inner">
            <div class="reservation__info info">
              <h5 class="info__subtitle subtitle">
                Онлайн мастер-класс
              </h5>
              <h1 class="info__title title">
                Как выглядеть <span class="title__italic reservation__title-italic">стильно и дорого</span> при минимальном бюджете
              </h1>
              <p class="info__text text">
                Сразу после мастер-класса вы наведете порядок в своем гардеробе, и он станет для вас любимым
              </p>
            </div>
            <form class="reservation__form form">
              <h3 class="form__title">
                Забронируйте ваше участие сейчас
              </h3>
              <input class="form__email form__input" type="email" placeholder="E-mail">
              <div class="form__wrapper">
                <input id="checkbox_phone" class="form__checkbox checkbox" type="checkbox">
                <label for="checkbox_phone">
                  <p class="form__checkbox_label">
                    Напомнить по SMS
                  </p>
                </label>
                <input id="form__phone" class="form__phone form__input" type="phone"
                  placeholder="+38 (___) ___ - __ - __">
              </div>
              <button class="form__btn btn btn_participation" type="submit">
                Принять участие
              </button>
            </form>
          </div>
  
        
      </div>
    </div>
    
  </div>
</header>